html,
body {
    height: 100%;
    background-color: antiquewhite;
}

th, td{
    /*width: 10% !* relative: 100%:13 columns= 7.6923076923 per column *!*/
    width: 50px; /* fixed */
}

.container {
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

/*.table-container {*/
/*    width: 60%;*/
/*}*/